*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
a{
    text-decoration: none;
    color: rgb(161, 89, 230);
}
h2{
    text-align: center;
    color: rgb(161, 89, 230);
    font-size: 25px;
    font-weight: 400;
}
h1{
    font-size: 35px;
    color: blueviolet;
    font-weight: 600;
    text-align: center;
}
img{
    width: 20%;
    display: block;
    margin:10px auto;
    border-radius: 10%;
    border: solid 10px rgb(141, 61, 231);

}
#rosas{
    width: 20%;
    display: block;
    margin: auto;
    border-radius: 10%;
    border: solid 10px rgb(180, 15, 3);
}
#margarita{
    width: 20%;
    display: block;
    margin: auto;
    border-radius: 10%;
    border: solid 10px rgb(223, 211, 45);
}